@font-face {
	font-family: 'Monoscape Typewriter';
	src: url(MonospaceTypewriter.ttf);
}

* {
    font-family: 'Monoscape Typewriter';
    table-align: center;
	text-align: center;
	user-select: none;
}

body {
    color: black;
    background-color: white;
	overflow-x: hidden;
	font-size: 12px;
	margin: 0;
}

table, tr {
    display: flex;
    justify-content: center;
}

button {
	color: black;
    background: #F2F2F2;
    font-weight: bold;
    border: 1px solid #127A20;
    min-width: 120px;
	max-width: 240px;
	min-height: 25px;
	padding: 1px 6px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    vertical-align: top;
	margin: 3px;
}

button.small {
	font-size: 10px;
}

button:not(.locked):hover {
    color: #FFF;
    background: #5AC467;
}

button.locked {
	color: black !important;
    background: #A3A3A3 !important;
    border: 1px solid #B84B5F !important;
	cursor: default;
}

button.bought {
	color: black !important;
    background: #5AC467 !important;
	cursor: default;
}

button.tab {
	min-width: 0px;
	font-size: 20px;
	background: #E0E0E0;
    border: 2px solid #4980CC;
	margin: 0px 3px;
}

button.inf {
	color: #FFFFFF;
    background-color: #1F1F1F;
    border-color: #B67F33;
}

button.inf:hover,
button.tab.inf:hover {
	color: #000000;
	background-color: #B67F33;
	border-color: #B67F33;
}

button.tab.stab {
	font-size: 14px;
	background: #E0E0E0;
    border: 2px solid #4980CC;
}

button.tab:hover {
	color: #FFFFFF;
    background: #4980CC;
}

h1 {
    display: inline;
	font-weight: normal;
    font-size: 35px;
}

h2 {
	display: inline;
	font-weight: normal;
    font-size: 24px;
}

.txt {
	font-size: 15px;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.dim {
	font-size: 15px;
	width: calc(100% - 50px);
	min-height: 40px;
	margin: 5px 15px;
	padding: 2px 10px;
	border-radius: 10px;
	align-items: center;
	display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.achievement {
	font-size: 11px;
	width: 110px;
	height: 110px;
	background-color: #A3A3A3;
    border: 2px solid #B84B5F;
	border-radius: 8px;
	margin: 5px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.achievement.unlocked {
	border-color: #127A20;
    background: #5AC467;
}

.upg {
	font-size: 10px;
	width: 190px;
	height: 90px;
}

@keyframes implode {
    0% {transform:scale(1); filter:blur(0px)}
    50% {transform:scale(0); filter:blur(5px)}
    100% {transform:scale(1); filter:blur(0px)}
}

#bottom {
	width:100%;
	position: fixed;
	bottom: 10px;
}

#bar_progress {
	margin: 0px 2%;
	width: 96%;
	height: 25px;
	border: solid 2px black;
	background-color: #A3A3A3;
	border-radius: 5px;
}

#bar {
	font-size: 18px;
	color: black;
	width: 1%;
	height: 100%;
	background-color: #127A20;
	border-radius: 2px;
	transition-duration: 0.1s;
}

[tooltip] {
	position: relative;
	z-index: 2;
	white-space: pre-wrap;
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
	white-space: pre-wrap;
}

[tooltip]:before {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -160px;
	padding: 7px;
	width: 320px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0, 0%, 5%, 0.9);
	color: #fff;
	content: attr(tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:after {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 5%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition-duration: 0.5s;
	white-space: pre-wrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	white-space: pre-wrap;
}